[defaults]
#If a host is reinstalled and has a different key in ‘known_hosts’, this will result 
#  in an error message until corrected. If a new host is not in ‘known_hosts’ your control 
#  node may prompt for confirmation of the key, which requires user interaction.  See
#  https://docs.ansible.com/ansible/latest/inventory_guide/connection_details.html.
host_key_checking = false
